<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="<%= url('/main.css') %>">
  <script src="<%= url('/index.js') %>"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
  <div class="page-container">
    <div class="top-nav">
      <%# <div class="search-container">
          <input maxlength="50" placeholder="search"></input>
        <div class="search-go">go</div>
      </div> %>
      <div class="app-name nav-btn">
        nanoTwitter
      </div>
      <div id="log-out">
        <a id="logout-text" href="/login">
          Log Out
        </a>
      </div>
    </div>
    <div class="side-nav">
      <a href="/users/profile">
        <div class="side-nav-item">
          Profile
        </div>
      </a>
      <a href="/">
        <div class="side-nav-item">
          Timeline
        </div>
      </a>
      <a href="/users/followers">
        <div class="side-nav-item">
          Followers
        </div>
      </a>
      <a href="/users/following">
        <div class="side-nav-item">
          Following
        </div>
      </a>
    </div>
    <div class="main-container">
      <div>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
<script>
  $(document).ready(function() {
    $(".tweet-signature").click( function(){
      followee_handle = this.innerText;
      $.post( "/users/follow", {followee_handle: followee_handle});
    });

    $(".followable").click( function(){
      followee_handle = this.innerText;
      $.post( "/users/follow", {followee_handle: followee_handle});
    });
  });
</script>
