<div class="new-tweet-container">
  <div class="new-tweet-heading">
    Chirp Away!
  </div>
  <textarea id="new-tweet-textarea" maxlength="140"></textarea>
  <div id="post-btn">POST</div>
</div>
<%= @timeline_html %>