<h1>You Can Follow The User You Want</h1>


  <% @others.each do |other| %>
  	<form action="/users/following" method="post">
  	<p>Name: <%= other.name %><button name="followee_handle" type="submit" value="<%= other.handle %>">Follow</button></p>
  	</form>
  	
  <% end %>