<div>
  <% @followers.each do |user| %>
    <div class="tweet-container">
      <div class="tweet-body">
        <div class="tweet-signature">
          <%= user.handle %>
        </div>
      </div>
    </div>
  <% end %>
<div>
