body {
  background-color: #e8edee;
  margin: 0;
}

.top-nav {
  background-color: white;
  border-bottom: 1px solid #c9c8cc;
  display: flex;
  filter: drop-shadow(0px 1px 1px #c9c8cc);
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 75px;
  padding: 5px;
  text-align: center;
}
.top-item {
  width: 100px;
  padding: 5px;
  /* border: 1px solid grey; */
  margin: auto;
}

.left-nav {
  position: absolute;
  text-align: center;
  flex-direction: column;
  width: 145px;
  margin: 25px;
  height: -webkit-fill-available;
  /* padding: 20px; */
}

.left-item {
  color: #c9c8cc;
  background-color: white;
  border: 1px solid #c9c8cc;
  border-radius: 5px;
  filter: drop-shadow(0px 1px 1px #c9c8cc);
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  margin: auto;
  margin-bottom: 25px;
  padding: 20px;
  text-align: center;
}

.left-item:hover {
  color: #118ab2;
  border: 1px solid #118ab2;
  transform: scale(1.1, 1.1);
}

.content-window {
  margin-left: 180px;
  padding: 25px;
}

.tweet-container {
  background-color: white;
  border: 1px solid #c9c8cc;
  filter: drop-shadow(0px 1px 1px #c9c8cc);
  border-radius: 5px;
  padding: 25px;
  margin-right: 10%;
  margin-top: 25px;
}

.tweet-body {
  color: #1a535c;
  font-size: 20px;
  padding: 5px;
  padding-bottom: 10px;
}
.tweet-container:hover {
  border: 1px solid #118ab2;
  transform: scale(1.025, 1.025);
  filter: drop-shadow(0px 4px 4px #c9c8cc);
}

.tweet-signature {
  color: #118ab2;
  font-size: 18px;
  display: inline;
  padding-right: 20px;
}

.tweet-created {
  color: #03a378;
  display: inline;
  text-align: right;
}

/* New Tweet CSS */
.new-tweet-container {
  background-color: white;
  border: 1px solid #c9c8cc;
  border-radius: 5px;
  filter: drop-shadow(0px 2px 2px #c9c8cc);
  margin-right: 10%;
  min-height: 100px;
  padding: 25px;
  text-align: center;
}

.new-tweet-container:hover {
  transform: scale(1.025, 1.025);
}

#new-tweet-textarea {
  border: 1px solid #c9c8cc;
  border-radius: 5px;
  color: #1a535c;
  display: inline-block;
  font-size: 20px;
  height: 100%;
  padding: 10px;
  resize: none;
  width: -webkit-fill-available;
}

#new-tweet-textarea:focus {
  outline: none;
  border: 1px solid #03a378;
}
.new-tweet-heading {
  text-align: center;
  color: #c9c8cc;
  font-family: "Helvetica";
  font-size: 20pt;
  margin-bottom: 15px;
}

#post-btn {
  background-color: #03a378;
  /* border: 1px solid #c9c8cc; */
  border-radius: 5px;
  color: white;
  display: inline-block;
  filter: drop-shadow(1px 2px 1px #c9c8cc);
  font-family: "Helvetica";
  font-size: 14pt;
  margin-top: 20px;
  padding: 10px;
  width: fit-content;
}

#post-btn:active {
  color: #f0f0f0;
  background-color: #007c5b;
  filter: drop-shadow(0px 0px 0px white);
}

#profile-icon-wrapper {
  border: 0;
  margin-left: 35px;
}

#profile-icon:hover {
  color: #118ab2;
  filter: drop-shadow(0px 0px 0px white);
  transform: scale(1.1, 1.1);
}
#profile-icon {
  color: #c9c8cc;
  font-size: 30pt;
}
#logout-icon {
  color: #c9c8cc;
  font-size: 30pt;
  margin: auto;
  margin-right: 35px;
}
#username-display {
  color: #c9c8cc;
  font-family: "Helvetica";
  font-size: 10pt;
  padding-top: 5px;
}

#search-container {
  border: 0;
  border-radius: 10px;
  font-family: "Helvetica";
  padding: 5px;
  width: fit-content;
}
#search-input {
  border-radius: 20px;
  border: 1px solid #c9c8cc;
  color: #c9c8cc;
  padding: 10px;
  min-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  max-width: 5ch;
}
#search-input:focus {
  color: #03a378;
  outline: 0;
}
#search-btn {
  top: 5px;
}

.user-container {
  background-color: white;
  border: 1px solid #c9c8cc;
  filter: drop-shadow(0px 1px 1px #c9c8cc);
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 25px;
}
.user-container:hover {
  border: 1px solid #118ab2;
  transform: scale(1.025, 1.025);
  filter: drop-shadow(0px 4px 4px #c9c8cc);
}

.follow-btn,
.tweet-follow-btn,
.unfollow-btn {
  color: #c9c8cc;
  font-size: 15pt;
  margin-right: 15px;
}

#logout-icon:hover,
.unfollow-btn:hover {
  color: rgb(248, 106, 106);
  transform: scale(1.1, 1.1);
}

#nxt-page-btn:hover,
.tweet-follow-btn:hover,
.follow-btn:hover {
  color: #03a378;
  transform: scale(1.1, 1.1);
}

#app-title {
  border: 0;
  color: #118ab2;
  font-family: "Helvetica";
  font-weight: bolder;
  font-size: 45pt;
}

#nxt-page-btn {
  color: #c9c8cc;
  font-size: 50pt;
  margin: inherit;
  margin-bottom: 100px;
  margin-top: 30px;
}
#nxt-page-btn:active {
  color: #007c5b;
  filter: drop-shadow(0px 0px 0px white);
}
