body {
  background-color: white;
  margin: 0;
}

a {
  text-decoration: none;
}

.page-container {
  background-color: #e8edee;
  display: grid;
  grid-template-columns: 1fr 1fr 6fr;
  grid-template-rows: 75px auto;
  user-select: none;
}

.top-nav {
  background-color: white;
  /* background-image: linear-gradient(to right, #ef476f 60%, #ffc43d); */
  border-bottom: 1px solid #c9c8cc;
  display: grid;
  filter: drop-shadow(0px 1px 1px #c9c8cc);
  grid-template-columns: 1fr 4fr 1fr;
  grid-column: 1 / span end;
  grid-row: 1;
  padding-left: 50px;
  padding-right: 50px;
}

.side-nav {
  /* background-image: linear-gradient(#ef476f 5%, #ffc43d); */
  /* border-bottom: 1px solid #c9c8cc;
  border-right: 1px solid #c9c8cc;
  border-bottom-right-radius: 5px; */
  /* filter: drop-shadow(1px 2px 1px #c9c8cc); */
  grid-row: 2 / span 50;
  height: -webkit-fill-available;
  justify-self: left;
  padding: 15px;
  user-select: none;
  width: fit-content;
}

.main-container {
  display: grid;
  grid-auto-rows: 20%;
  grid-column: 2 / span end;
  grid-row: 2 / span 50;
  /* margin: 10px; */
}

.app-name {
  align-self: center;
  color: #7dbfd5;
  font-family: "Helvetica";
  font-size: 28pt;
  font-weight: bold;
  grid-column: 2;
  justify-self: center;
}

#log-out {
  align-self: center;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #c9c8cc;
  color: #c9c8cc;
  filter: drop-shadow(0px 1px 1px #c9c8cc);
  grid-column: last;
  height: fit-content;
  justify-self: left;
  padding: 10px;
  width: fit-content;
}

.fas.fa-feather {
  align-self: center;
  font-size: 30pt;
  grid-column: last;
  justify-self: right;
}

.search-container {
  max-width: 25px;
}

.nav-btn {
  color: #c9c8cc;
}

.nav-btn:hover {
  color: #118ab2;
  border: 1px solid #118ab2;
  transform: scale(1.1, 1.1);
}

.side-nav-item:hover {
  color: #118ab2;
  border: 1px solid #118ab2;
}

.side-nav-item {
  color: #c9c8cc;
  background-color: white;
  border: 1px solid #c9c8cc;
  filter: drop-shadow(0px 1px 1px #c9c8cc);
  font-weight: bolder;
  border-radius: 5px;
  margin-top: 25px;
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  padding: 20px;
  text-align: center;
}

.nav-btn:active,
.side-nav-item:active {
  color: #ffd166;
}

.tweet-container {
  background-color: white;
  border: 1px solid #c9c8cc;
  filter: drop-shadow(0px 1px 1px #c9c8cc);
  border-radius: 5px;
  padding: 25px;
  margin-right: 10%;
  margin-top: 25px;
}

.tweet-body {
  color: #1a535c;
  font-size: 20px;
  padding: 5px;
  padding-bottom: 10px;
}
.tweet-container:hover {
  border: 1px solid #118ab2;
  transform: scale(1.025, 1.025);
  filter: drop-shadow(0px 4px 4px #c9c8cc);
}

.tweet-signature {
  color: #118ab2;
  font-size: 18px;
  display: inline;
  padding-right: 20px;
}

.tweet-created {
  color: #03a378;
  display: inline;
  text-align: right;
}

/* New Tweet CSS */
.new-tweet-container {
  background-color: white;
  border: 1px solid #c9c8cc;
  border-radius: 5px;
  filter: drop-shadow(0px 2px 2px #c9c8cc);
  margin-right: 10%;
  margin-top: 25px;
  min-height: 100px;
  padding: 25px;
  text-align: center;
}

.new-tweet-container:hover {
  transform: scale(1.025, 1.025);
}

#new-tweet-textarea {
  border: 1px solid #c9c8cc;
  border-radius: 5px;
  color: #1a535c;
  display: inline-block;
  font-size: 20px;
  height: 100%;
  padding: 10px;
  resize: none;
  width: -webkit-fill-available;
}

#new-tweet-textarea:focus {
  outline: none;
  border: 1px solid #03a378;
}
.new-tweet-heading {
  text-align: center;
  color: #118ab2;
  font-family: "Helvetica";
  font-size: 20pt;
  font-weight: bolder;
  margin-bottom: 15px;
}

#post-btn {
  background-color: #03a378;
  /* border: 1px solid #c9c8cc; */
  border-radius: 5px;
  color: white;
  display: inline-block;
  filter: drop-shadow(1px 2px 1px #c9c8cc);
  font-family: "Helvetica";
  font-size: 14pt;
  margin-top: 20px;
  padding: 10px;
  width: fit-content;
}

#post-btn:active {
  color: #f0f0f0;
  background-color: #007c5b;
  filter: drop-shadow(0px 0px 0px white);
}

.search-container {
  border: 1px solid black;
  display: contents;
  width: fit-content;
  grid-column: ;
}
#search-btn {
  display: inline-block;
}
